body {
    background-color: black;
    margin-bottom: 100px;
    width: 100%;
    color: white;
}

.header {
    width: 100%;
    height: 250px;
    color: white;
}

.fromleft {
    width: 0%;
    text-align: right;
    font-weight: bold;
}

.fromcenter {
    width: auto;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: white;
}

.fromright {
    width: 100%;
    text-align: right;
    float: right;
    margin-top: 60px;
    color: white;
}

#user {
    font-style: normal;
    font-size: 20px;
    color: white;
}

.login-logout {
    width: 100px;
    height: 50px;
    background-color: rgb(104, 157, 244);
    border-radius: 15%;
}

.login-logout:hover {
    background-color: rgb(58, 82, 218);
}

#btn-Homepage {
    width: 200px;
    color: #555;
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

#btn-Homepage:hover {
    font-weight: 600;
}

#btn-Homepage:hover i {
    margin-right: 20px;
}

#btn-Homepage:focus {
    outline: none;
}

#homepage {
    text-align: center;
}

.txt-booking {
    background-color: rgb(65, 64, 64);
    color: white;
}

.txt-booking:hover {
    background-color: rgb(35, 34, 34);
}

h2 {
    margin-left: 5%;
}

.icongiohang {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 20px;
}

.icongiohang:hover {
    background-color: rgb(44, 42, 42);
}

.btn-booking {
    border-radius: 15px;
    width: 60px;
    height: 20px;
    background-color: rgb(51, 50, 50);
    color: white;
}

.btn-booking:hover {
    background-color: rgb(37, 35, 35);
}